// custom
$gg: #c719aa;

.btn-gg {
    background-color: $gg;
    color: white;
}

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';

/* This will make container to take screen width */
// .container {
//     max-width: 100%  
// }