/* Basic editor styles */
.ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
      }    
}

.editor_menu {
  button {
    border-radius: 0.5rem;

    &.is-active {
      font-weight: 700;
    }
  }
}
