/* Basic editor styles */
.ProseMirror {
    > * + * {
      margin-top: 0.5em;
      margin-left: 0.5em;
    }

    &.ProseMirror-focused {
      border: none;
    }

    blockquote {
      border-left: 3px solid rgba(#0d0d0d, 0.1);
      padding-left: 1rem;
    }  
    
    code {
      background-color: rgba(#616161, 0.1);
      border-radius: 0.25em;
      box-decoration-break: clone;
      color: #616161;
      font-size: 0.9rem;
      padding: 0.25em;
    }

    mark {
      background-color: #ffe066;
      border-radius: 0.25em;
      box-decoration-break: clone;
      padding: 0.125em 0;
    }

    pre {
      background: #2b2b2b;
      color: #f8f8f8;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 1.0rem;
      }

      &.lang-java {
        .hljs-comment,
        .hljs-quote {
          color: #8b949e;
        }
        .hljs-keyword,
        .hljs-selector-tag,
        .hljs-type {
          color: #cc7832;
        }
        .hljs-number {
          color: #4d92ca;
        }
        .hljs-title {
          &.class_ {
            color: #f8f8f8;
          }
        }
        .hljs-operator {
          color: #f8f8f8
        }
        .hljs-section,
        .hljs-variable {
          color: #faf594;
        }
        .hljs-meta {
          color: #C2C71F;
        }
      }
      
      .hljs-comment,
      .hljs-quote {
        color: #787878;
      }
  
      .hljs-variable,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-tag,
      .hljs-name,
      .hljs-regexp,
      .hljs-link,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class {
        color: #f98181;
      }
  
      .hljs-number,
      .hljs-meta,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-params {
        color: #e9bcb1;
      }
  
      .hljs-string,
      .hljs-symbol,
      .hljs-bullet {
        color: #b9f18d;
      }
  
      .hljs-title,
      .hljs-section {
        color: #faf594;
      }
  
      .hljs-keyword,
      .hljs-selector-tag {
        color: #70cff8;
      }
  
      .hljs-emphasis {
        font-style: italic;
      }
  
      .hljs-strong {
        font-weight: 700;
      }
    }

    hr {
      border: none;
      border-top: 1px solid rgba(#2B2B2B, 0.1);
      margin: 2rem 0;
    } 

    iframe {
      border: 8px solid #000;
      border-radius: 4px;
      min-width: 200px;
      min-height: 200px;
      display: block;
      outline: 0px solid transparent;
    }
  
    div[data-youtube-video] {
      cursor: move;
      padding-right: 24px;
    }
  
    .ProseMirror-selectednode iframe {
      transition: outline 0.15s;
      outline: 6px solid #ece111;
    }

    a {
      color: #2238b4;
    }
}

.editor_menu {
  button {
    border-radius: 0.5rem;
    border-width: 1px;

    &.is-active {
      font-weight: 700;
    }
  }
}
